@use '../abstracts/' as *;
@use '../base/' as *;
.header__container {
    background-color: $clr-bg-one;
    @include flex-col();
    padding: 1rem 5rem;
    .header__top {
        @include flex-row();
        width: 100%;
        .logo {
            img {
                width: 10rem;
                object-fit: cover;
                display: block;
            }
        }
        a {
            padding: 1rem;
            border: 1px solid rgba(168, 208, 255, 0.38);
            border-radius: 0.5rem;
            color: #fff;
        }

        .search__form {
            @include flex-row();
            background-color: #fff;
            position: relative;
            border-radius: 0.4rem;
            min-width: 27rem;
            width: 35%;

            .search__input {
                width: calc(100% - 35px);
                border: none;
                outline: none;
                font-size: 1.4rem;
                padding: 0.8rem 0.8rem 0.8rem 1.3rem;
                background-color: transparent;
            }
            button {
                padding: 0.9rem;
                border: none;
                cursor: pointer;
                position: absolute;
                background-color: transparent;
                top: 0;
                right: 0;
                i {
                    font-size: 2rem;
                }
            }
        }
        .header__toplist {
            @include flex-row();
            width: 30%;
        }
    }
    .bordercol {
        height: 3rem;
        width: 1px;
        background-color: rgba(168, 208, 255, 0.38);
    }
    .header__bottom {
        width: 100%;
        .header__bottom-container {
            .header__menu {
                @include flex-row();
                li {
                    color: #fff;
                    font-size: 1.8rem;
                    a {
                        cursor: pointer;
                    }
                }
                .header__menu-category {
                    padding: 1rem;
                    position: relative;
                    .dropdowm__menu {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 3.4rem;
                        border: 1px solid #ccc;
                        padding: 1rem;
                        background-color: #fff;
                        z-index: 9999;
                        ul {
                            width: 30rem;
                            li {
                                @include flex-row();
                                border-top: 1px solid #ccc;
                                padding: 1rem;
                                &:nth-child(1) {
                                    border-top: none;
                                }
                                a {
                                    color: $clr-text-black;
                                    flex: 1;
                                }
                                i {
                                    color: $clr-text-black;
                                    font-size: 2rem;
                                    &:nth-child(1) {
                                        margin-right: 1rem;
                                        min-width: 3rem;
                                    }
                                    &:nth-child(3) {
                                        color: $clr-text-blue;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        .dropdowm__menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
