// Background-color
$clr-bg-one: #4a90e2;
$clr-bg-two: #008847;
$clr-bg-three: #fb6e2e;
$clr-bg-four: #ff685f;
//Text color
$clr-text-black: #333333;
$clr-text-gray: #666666;
$clr-text-white: #ffffff;
$clr-text-blue: #288ad6;
$clr-text-red: #d0021c;
$clr-text-yellow: #ffe818;

/* Color Theme Swatches in Hex */
$Stark-Electric-1-hex: #2712b2;
$Stark-Electric-2-hex: #ff7819;
$Stark-Electric-3-hex: #2200ff;
$Stark-Electric-4-hex: #20cc14;
$Stark-Electric-5-hex: #13b209;

/* Color Theme Swatches in RGBA */
$Stark-Electric-1-rgba: rgba(38, 17, 177, 1);
$Stark-Electric-2-rgba: rgba(255, 119, 24, 1);
$Stark-Electric-3-rgba: rgba(33, 0, 255, 1);
$Stark-Electric-4-rgba: rgba(31, 204, 20, 1);
$Stark-Electric-5-rgba: rgba(18, 177, 8, 1);
