@use 'font-face' as *;

* {
    box-sizing: border-box;
    font-family: 'Lora', sans-serif;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    margin: 0;
    background-color: #f3f3f3;
}
a {
    cursor: pointer;
}
