$clr-success: #4caf50 !default;
$clr-info: #008cba !default;
$clr-error: #f44336 !default;
$clr-warning: #ffc107 !default;
$clr-black: black !default;
$clr-light: #e7e7e7 !default;
$clr-gray: gray !default;
$clr-white: white !default;
$clr-star: #ffc000;
//Backround-color
$clr-bg-one: #4a90e2;
$clr-bg-two: #008847;
$clr-bg-three: #fb6e2e;
//Text color
$clr-text-black: #333333;
$clr-text-gray: #666666;
$clr-text-white: #ffffff;
$clr-text-blue: #288ad6;
$clr-text-red: #d0021c;

// brand color;
$clr-facebook: #4267b2;
$clr-google: #db4437;
$clr-youtube: #ff0000;
$clr-twitter: #1da1f2;
$clr-linkedin: #0a66c2;
$clr-netflix: #e50914;
$clr-facebook-messenger: #00c6ff;
$clr-instagram: #dd2a7b;
$clr-github: #171515;
$clr-zalo: #0180c7;
$clr-instagram-gradient: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
);
