@use './abstracts/' as *;
@use './base/' as *;
@use './components/' as *;
@use './layout/' as *;
@use 'swiper/css';

.container {
    width: 100%;
}
.main {
    padding: 0 5rem;
}
.product__screen {
    padding: 2rem 5rem;
}
